<ion-view view-title="Home">
  <ion-content>
    <div class="header-logo">
      <a href="#" class="mgm-logo">
      </a>
    </div>
    <div class="nav-wrapper">
      <ion-list class="main-nav">
        <!--Entertainment-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-entertainment"></i>
          Entertainment
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Restaurants-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-restaurants"></i>
          Restaurants
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Nightlife-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-nightlife"></i>
          Nightlife
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Casino-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-casino"></i>
          Casino
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Offers-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-offers"></i>
          Offers
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Amenities-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-amenities"></i>
          Amenities
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Meetings and Groups-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-meetings"></i>
          Meetings and Groups
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
        <!--Hotel-->
        <ion-item class="item-icon-left item-icon-right" href="#/tab/details">
          <i class="icon left-icon mgm-icon-hotel"></i>
          Hotel
          <i class="icon right-icon mgm-icon-arrow-grey"></i>
        </ion-item>
      </ion-list>
    </div>

    <div class="component-base venue-action" data-mgmapp-component="venueAction">
      <h2>MGM Grand</h2>
      <h6>AN MGM RESORTS LUXURY DESTINATION</h6>
      <ul class="venue-action-links">
        <li>
          <a class="mgm-icon-call-grey" data-tiletype="call">Call</a>
        </li>
        <li>
          <a class="mgm-icon-map-grey" data-tiletype="map">Map</a>
        </li>
        <li>
          <a class="mgm-icon-find-grey" data-tiletype="direction">Directions</a>
        </li>
        <li>
          <a class="mgm-icon-room-grey" href="#">Book Room</a>
        </li>
      </ul>
    </div>

    <div class="component-base">
      <div class="hdr">
        <span>DOWNLOAD MYVEGAS</span>
      </div>
      <div class="tile-img">
        <a href="#">
          <img src="http://placehold.it/690x420" alt="dummyimage">
        </a>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="search search-bar">
    <div class="bar bar-header">
      <label class="item-input-wrapper">
        <i class="icon mgm-icon-input-search"></i>
        <input type="search" placeholder="Search" ng-model="search">
      </label>
      <button class="button search-button">
        Search
      </button>
    </div>
  </ion-footer-bar>
</ion-view>