<ion-view view-title="Rewards">
  <ion-content>
    <div class="item-details-container">
      <div class="item-image">
        <span class="item-img" picture-fill="" data-alt="Alt Text 1">
          <img alt="Alt Text 1" src="http://placehold.it/750x420">
        </span>
      </div>  
      <div class="item-detail">
        <div class="item-description">
          <ul class="item-detail-list">
            <li class="item-name"><h2>Stay Well Grand Queen</h2></li>
            <li class="item-category">HOTEL</li>
          </ul>
        </div>
        <div class="item-rate" data-latitude="12.983615" data-longitude="77.765959">
            <span class="rate">$45</span> •
            <!-- ngIf: geoLocationAccepted -->
        </div>
      </div>
    </div>    
  </ion-content>
  <ion-footer-bar align-title="left" class="search detail-footer">
    <div class="footer-btn">
      <a data-href="#" overview-cta="entertainment">Check Rates</a>
    </div>
  </ion-footer-bar>
</ion-view>