<ion-tabs class="tabs-icon-top global-tabs" ng-class="{'tabs-item-hide': tabsFlag}" ng-controller="TabController">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="mgm-icon-find" icon-on="mgm-icon-find active" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Trip Tab -->
  <ion-tab title="Trips" icon-off="mgm-icon-trip" icon-on="mgm-icon-trip active" href="#/tab/trips">
    <ion-nav-view name="tab-trips"></ion-nav-view>
  </ion-tab>

  <!-- Rewards Tab -->
  <ion-tab title="Rewards" icon-off="mgm-icon-mlife" icon-on="mgm-icon-mlife active" href="#/tab/rewards">
    <ion-nav-view name="tab-rewards"></ion-nav-view>
  </ion-tab>

  <!-- Services Tab -->
  <ion-tab title="Services" icon-off="mgm-icon-services" icon-on="mgm-icon-services active" href="#/tab/services">
    <ion-nav-view name="tab-service"></ion-nav-view>
  </ion-tab>


</ion-tabs>